.rightSidePart_css {
  @apply grid grid-cols-2 gap-5 p-10 h-screen w-full;
  scrollbar-width: none;
}
.scroll{
  @apply overflow-y-auto
}

.scroll::-webkit-scrollbar {
  width: 0.4rem;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.rightSideImage_css {
  @apply absolute h-full w-full object-cover opacity-80 transition-transform duration-300 transform  -z-10;
}
